.filter{
    top: 10px;
    width: 50%;
    position: absolute;
    right: 20px;
    height: 50px;
    background: #333333;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: white;
    padding: 5px 10px;
}
.range-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.price-filter{
    display: grid;
    align-items: center;
}
.rangeSlider {
    -webkit-appearance: none;
    appearance: none;
    width: 60%;
    height: 2px; 
    background: white; 
    outline: none;
    cursor: pointer;  
  }
.rangeSlider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 15px; 
    height: 15px; 
    border-radius: 50%;
    background: rgb(0, 153, 255);
    cursor: pointer; 
  }
#selection{
    background: #333333;
    border: 1px solid white;
    outline: none;
    color: white;
    padding: 2px 4px;
    font-size: 16px;
}
@media screen and (max-width: 500px){
    .filter{
        position: relative;
        top: 0;
        width: 100%;
        height: auto;
        left: 0;
        padding: 10px 0;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,1fr);
    }
    .price-filter{
        text-align: center;
        width: 100%;
    }
    .price-filter div{
        margin-bottom: 5px;
    }
    .range-container{
        display: flex;
        flex-direction: column;
        font-size: 16px;
        grid-row: 1;
    }
    #selection{
        justify-self: center;
        width: 80%;
    }
}
