@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

header{
    height: 100px;
    width: 100%;
    background: #333333;
}
.logo, .logo2{
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    color: white;
    position: absolute;
    text-decoration: none;
    text-align: center;
    line-height: 22px;
    width: 80px;
}
.logo{
    top: 20px;
    left: 20px;
}
.logo2{
    transform: rotate(-90deg) translate(0%, -50%);
    right: 10px;
    top: 50%;
}

.M{
    position: absolute;
    font-size: 50px !important;
    color: rgb(0, 153, 255);
    left: 50%;
    top: 0;
    transform: translate(-50%,0%);
    z-index: 0;
}
.logo div, .logo2 div{
    z-index: 2;
    position: absolute;
}
.info{
    height: 50%;
    width: 5%;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    margin-right: 20px;
}
.info a{
    color: white;
    transition: .1s;
    outline: none;
}
.info a:hover{
    color: rgb(0, 153, 255);
}
nav{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.kosik{
    color: white;
    background: transparent;
    border: 1px solid white;
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    outline: none;
}
.kosik:hover{
    background: white;
    color: #333333;
}
.pocet-predmetov{
    position: absolute;
    top: -15px;
    right: -20px;
    z-index: 2;
    color: white;
    background: #333333;
    border: 1px solid white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    font-weight: bold;
}
.kosik:hover .pocet-predmetov{
    color: #333333;
    background: white;
}
.nav-link{
    text-decoration: none;
    color: white;
    margin: 0px 20px;
    text-transform: uppercase;
    position: relative;
    font-weight: 800px;
    outline: none;
}
.nav-link::before{
    content: "";
    position: absolute;
    bottom: -16px;
    left: 50%;
    width: 0%;
    height: 3px;
    background: white;
    transition: .3s;
}
.nav-link::after{
    content: "";
    position: absolute;
    bottom: -16px;
    right: 50%;
    width: 0%;
    height: 3px;
    background: white;
    transition: .3s;
}
.nav-link:hover::before{
    width: 50%;
}
.nav-link:hover::after{
    width: 50%;
}
.show{
    position: absolute;
    top: 100px;
    left: 0px;
    width: 100%;
    height: 200px;
    background: #333333;
    display: none;
    opacity: 0;
}