.domov{
    background: url("../img/open.jpeg") center;
    background-size: cover;
    min-height: 100vh;
}
.kosik-suhrn{
    min-height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-rows: auto;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: calc(100vw - 5px);
}
.kosik-suhrn h1{
    font-family: "Anton", sans-serif;
    position: absolute;
    top: 10px;
    left: 40px;
}
.buy-container{
    margin-right: 0;
    padding: 0;
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 100px;
    height: 80vh;
    overflow-y: scroll;
}
::-webkit-scrollbar{
    width: 5px;
    display: block;
    background: #333;
    border: solid 1px black;
}
::-webkit-scrollbar-thumb{
    background: rgb(0, 193, 241);
}
.buy-container h2{
    font-family: "Anton", sans-serif;
    border: solid 3px black;
    font-size: 40px;
    padding: 0px 10px;
    align-self: center;
    background: #333;
    color: white;
    text-shadow: 2px 2px 2px black;
    letter-spacing: 1px;
    pointer-events: none;
    text-transform: uppercase;
}
.cennik-tabulka{
    font-family: "Anton", sans-serif;
    font-size: 25px;
    margin-top: 100px;
    width: 90%;
    border: solid 2px black;
    border-collapse: collapse;
    text-align: center;
}
.cennik-tabulka tr, td{
    border: solid 2px rgb(0, 193, 241);
    padding: 5px;
    background: #333;
    text-shadow: 1px 1px 1px black;
    color: white;
}
.produkty{
height: 100vh;
}
.cennik{
display: flex;
align-items: center;
flex-direction: column;
height: 100vh;
}
.container{
    min-height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-row-gap: 20px;
    padding: 100px 0px;
    position: relative;
}
.obrazok{
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 5px grey;
    margin: 5px;
    justify-self: center;
    position: relative;
}
.obrazok p:nth-child(2){
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    margin: 0;
}
.obrazok:hover{
    box-shadow: 0px 0px 10px grey;
}
.obrazok img{
    position: relative;
    top: 0;
    width: 100%;
    height: 250px;
}
.obrazok img:hover{
    transform: rotateY(180deg);
}
.btn-load-module{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 20px;
    width: 150px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #333333;
    background: transparent;
    text-transform: uppercase;
    transition: .2s;
    outline: none;
    color: white;
    background: #333333;
}
.btn-load-module:hover{
    background: black;
    border: 2px solid black;
}
.nadpis{
    position: absolute;
    top: 10px;
    left: 40px;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
}
.vypredane{
 pointer-events: none;
 position: relative;
 overflow: hidden;
}
.vypredane::after{
    position: absolute;
    content: "VYPREDANÉ";
    background: black;
    width: 200%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 37px;
    font-size: 30px;
    text-align: center;
    color: white;
    font-weight: bold;
    transform: rotate(-55deg);
    top: 45%;
    border: solid 2px white;
    z-index: 2;
}
.vypredane::before{
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.4);
    z-index: 1;
}

/*ERROR PAGE*/
.error{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
}
.error h1{
    font-size: 80px;
    padding: 0px 10px;
    background: #333;
    color: white;
    text-shadow: 3px 3px 3px black;
    letter-spacing: 1px;
}
.ziadneData{
    position: "absolute";
    top: 40%;
    left: 50%;
    background: #333;
    color: white;
    transform: translate(-50%, -50%);
    font-family: 'Anton', sans-serif;
    text-align: center;
    padding: 10px;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 1px;
}
@media screen and (max-width: 500px){
    .container{
        padding: 0;
    }
    .nadpis{
        position: relative !important;
        top: 0;
        left: 0;
        padding: 0 !important;
        grid-row: 2;
        width: auto;
        text-align: center;
        margin: 0;
    }
    .ziadneData{
        position: relative;
    }

    /* Nakupny kosik */
    .buy-container{
        height: 80vh;
    }
    .kosik-suhrn{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        align-items: center;
        flex-direction: column;
        position: relative;
        width: calc(100vw - 5px);
    }
    .kosik-suhrn h1{
        font-size: 22px;
        top: 10px;
        left: 0;
        width: 99%;
        text-align: center;
    }
    .cennik{
        height: auto;
        padding-bottom: 20px;
    }
   .cennik-tabulka{
       margin: 0;
   }
}