.shop-list-container{
    position: absolute;
    top: 100px;
    right: 0;
    height: 400px;
    width: 300px;
    background: #333333;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    border-left: 2px solid white;
    border-radius: 0px 0px 5px 5px;
    z-index: 3;
    overflow: hidden;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shop-list-container ul{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    position: relative;
    padding-bottom: 10px;
}
.shop-list-container ul li{
    margin: 5px 0px;
    font-family: 'Anton', sans-serif;
    list-style: none;
    width: 80%;
    height: 40px;
    padding: 5px 0px;
    border: solid 2px rgb(0, 193, 241);
    display: flex;
    align-items: center;
    color: white;
    border-radius: 5px;
    justify-content: space-around;
    box-shadow: inset 0px 0px 5px black;
    transition: .1s;
}
.link-text{
    cursor: pointer;
    color: white;
    text-decoration: none;
}
.link-text:hover{
    text-decoration: underline;
}
.shop-list-container ul li:hover{
    background: rgb(0, 193, 241);
    text-shadow: 1px 1px 1px black;
    width: 85%;
}
.shop-list-container img{
    width: 50px;
    border: 1px solid rgb(0, 193, 241);
}
.remove-btn{
    background: none;
    border: none;
    color: white;
    width: 20px;
    height: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
}
.remove-btn:hover{
    color: #333333;
}
.do-kosika{
    background: rgb(0, 153, 255);
    color: white;
    width: 200px;
    height: 40px;
    font-size: 20px;
    border: 2px solid rgb(0, 153, 255);
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: relative;
}
.do-kosika::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0px;
    height: 100%;
    background: linear-gradient(to right, rgb(0, 102, 255), transparent);
}
.do-kosika:hover::before{
    width: 10px;
}
.disabled{
    background: rgb(206, 0, 0);
    border: 2px solid black;
    cursor: default !important;
    color: black !important;
}
@media screen and (max-width: 500px){
    .shop-list-container{
        width: 100%;
        border: none;
        height: 100vh;
    }
}