body, html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  font-family: sans-serif;
  overflow-x: hidden;
}
.App {
min-height: 100vh;
position: relative;
}
::-webkit-scrollbar{
  display: none;
}
::selection{
  background: black;
  color: white;
}

