.module-container{
    min-height: 100vh;
    background: #333333;
    z-index: 3;
    top: 100px;
    animation: animate .3s linear forwards alternate;
    padding: 100px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
@keyframes animate{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
.container-img-price{
    display: flex;
    align-items: center;
}
.container-img-price span{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 50px;
}
.image{
    width: 400px;
    height: auto;
    border: solid 2px black;
    z-index: 4;
    position: relative;
}
.image:hover{
    transform: rotateY(180deg);
}
.cena{
z-index: 4;
color: white;
font-family: 'Anton', sans-serif;
font-size: 50px;
color: rgb(0, 153, 255);
text-shadow: 0px 0px 2px black;
cursor: default;
}
.buy-btn{
    z-index: 4;
    position: relative;
    width: auto;
    height: 50px;
    font-size: 30px;
    padding: 0px 10px;
    cursor: pointer;
    color: #333333;
    outline: none;
    text-transform: uppercase;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buy-btn:hover{
    color: black;
}
.nazov{
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    z-index: 4;
    position: relative;
    background: rgb(0, 153, 255);
    padding: 10px;
    box-shadow: 0px 0px 5px black;
}
.popis{
    position: relative;
    z-index: 4;
    color: white;
    line-height: 22px;
    text-align: justify;
    text-shadow: 1px 1px 1px black;
}
.popis h1{
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;
    text-shadow: 2px 2px 2px black;
    margin-bottom: 30px;
    text-decoration: underline;
}
.pozadie{
    position: absolute;
    display: block;
    font-family: 'Anton', sans-serif;
    color: black;
    text-shadow: 0px 0px 3px black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 200px;
    letter-spacing: 20px;
    font-size: 300px;
    pointer-events: none;
}
















/* BUTTON */
.hide-module-btn{
    position: absolute;
    padding: 0px 5px;
    right: 20px;
    top: 20px;
    font-size: 25px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    transition: .3s;
}
.hide-module-btn span{
    position: absolute;
    background: white;
    transition: .3s;
}
.hide-module-btn span:nth-child(1){
    top: 0;
    right: 0;
    width: 0%;
    height: 1px;
}
.hide-module-btn span:nth-child(2){
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
}
.hide-module-btn span:nth-child(3){
    top: 0;
    right: 0;
    width: 1px;
    height: 0%;
}
.hide-module-btn span:nth-child(4){
    bottom: 0;
    left: 0;
    width: 1px;
    height: 0%;
}
.hide-module-btn:hover span:nth-child(1),
.hide-module-btn:hover span:nth-child(2){
    width: 100%;
}
.hide-module-btn:hover span:nth-child(3),
.hide-module-btn:hover span:nth-child(4){
    height: 100%;
}
.hide-module-btn:hover{
    transform: scale(1.2);
}

@media screen and (max-width: 500px){
    .module-container{
        top: 0;
        padding: 0;
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        height: auto;
    }
    .image{
        position: relative;
        top: 0;
        width: 95%;
    }
    .container-img-price{
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        left: 0;
        align-items: center;
        justify-content: center;
        height: auto;
        grid-row: 2;
    }
    .container-img-price span{
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        justify-content: center;
        grid-row: 2;
    }
    .cena{
    z-index: 4;
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    margin: 0;
    color: rgb(0, 153, 255);
    text-shadow: 0px 0px 2px black;
    cursor: default;
    }
    .buy-btn{
        z-index: 4;
        position: relative;
        max-width: 90%;
        height: 50px;
        font-size: 20px;
        padding: 0px 10px;
        cursor: pointer;
        color: #333333;
        outline: none;
        text-transform: uppercase;
        font-weight: 900;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .buy-btn:hover{
        color: black;
    }
    .nazov{
        font-family: 'Anton', sans-serif;
        height: 50px;
        font-size: 40px;
        text-transform: uppercase;
        z-index: 4;
        position: relative;
        background: rgb(0, 153, 255);
        box-shadow: 0px 0px 5px black;
        text-align: center;
        grid-row: 1;
        margin-top: 100px;
    }
    .popis{
        position: relative;
        z-index: 4;
        color: white;
        width: calc(100% - 20px);
        padding: 0px 10px;
        line-height: 22px;
        text-align: justify;
        text-shadow: 1px 1px 1px black;
        grid-row: 3;
    }
    .popis h1{
        font-family: 'Anton', sans-serif;
        letter-spacing: 1px;
        text-shadow: 2px 2px 2px black;
        margin-bottom: 30px;
        text-decoration: underline;
        text-align: center;
    }
    .pozadie{
        display: none;
    }
}
